<div class="page page_login">
    <!-- <button (click)="show()">Toast!!</button> -->
    <div class="container_form">
        <div class="logo_wrap">
            <img src="assets/logo.png" alt="">

        </div>
        <div class="header_wrap">
            <h1>Sign In</h1>
            <p>Please enter your email.</p>
        </div>

        <div class="form_wrap">
            <form action="" (ngSubmit)="onSubmit()">
                <div class="ui large fluid  left icon input ">
                    <input name="email" [(ngModel)]="email" type="email" placeholder="Email">
                    <i class="envelope icon"></i>
                </div>
                <button (click)="onClick()" class="circular ui icon button">
                    <i *ngIf="!buttonSpin" class="icon large  arrow right"></i>
                    <div *ngIf="buttonSpin" class="ui active centered inline loader"></div>
                </button>
            </form>
        </div>
        <div class="footer_wrap">
            <h4>
                Developed by <span> Innovation Team, Solar Industries Nagpur. </span>
            </h4>
            <p>
                The site is protected by recapchta and Google. Terms of Service and privacy policy apply.
            </p>
        </div>
    </div>
</div>