.circular {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 178px;
  right: -40px;
  background-color: white;
  border: 8px solid #f5f5f5;
  &:focus {
    background-color: white !important;
  }
}
input[type="text"] {
  width: 100% !important;
}
