<div class="ui mini three steps">
    <div class="step" [ngClass]="{active: sectionSelected ===1 }" (click)="onClick(1)">
        <i class="sitemap icon"></i>
        <div class="content">
            <div class="title">Document Details</div>
        </div>
    </div>
    <div class="step" [ngClass]="{active: sectionSelected ===2 }" (click)="onClick(2)">
        <i class="time icon"></i>
        <div class="content">
            <div class="title">Time and other details</div>
        </div>
    </div>
    <div class="step" [ngClass]="{active: sectionSelected ===3 }" (click)="onClick(3)">
        <i class="info icon"></i>
        <div class="content">
            <div class="title">Confirm </div>
        </div>
    </div>
</div>