// .circular {
//   width: 64px;
//   height: 64px;
//   position: absolute;
//   top: 178px;
//   right: -28px;
//   background-color: white !important;
//   border: 8px solid #f5f5f5;

//   &:focus {
//     background-color: white !important;
//   }
// }
.btn_wrap {
  display: flex;
  justify-content: space-between;
}
.field {
  margin: 6px 0 !important ;
}
.form_wrap {
  margin: 0 0 14px 0;
}
label {
  color: #c5141a !important;
}

.action_btn {
  background-color: #c5141a !important;
  i {
    color: white;
  }
}
#sec_btn {
  color: #c5141a !important;
}
