<div class="page page_login">
    <div class="container_form">
        <div class="logo_wrap">
            <img src="assets/logo.png" alt="">

        </div>
        <div class="header_wrap">
            <h1>Registration Form</h1>
            <p>Please enter your credentials. All <span>* </span>fields compulsory.</p>
        </div>
        <div class="form_wrap">
            <form (ngSubmit)="onSubmit($event)" class="ui form">
                <div class="field">
                    <label>First Name *</label>
                    <input [(ngModel)]="newUser.firstname" type="text" name="first-name" placeholder="First Name">
                </div>
                <div class="field">
                    <label>Last Name *</label>
                    <input [(ngModel)]="newUser.lastname" type="text" name="last-name" placeholder="Last Name">
                </div>
                <div class="field">
                    <label>Email * </label>
                    <input [(ngModel)]="newUser.email" type="text" name="email" placeholder="Email">
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>Mobile Number *</label>
                        <input [(ngModel)]="newUser.mobile" type="text" name="mobile number"
                            placeholder="Mobile Number">
                    </div>
                    <div class="field">
                        <label>Role *</label>
                        <select name="role" id="role" class="ui fluid dropdown">
                            <option [value]=1>Department HOD</option>
                            <option [value]=2>Initiator</option>
                            <option [value]=3>CS Team HOD</option>
                            <option [value]=4>CS Team Member</option>
                        </select>
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>Employee Code *</label>
                        <input [(ngModel)]="newUser.emp_code" type="text" name="een-number"
                            placeholder="Employee Number">
                    </div>
                    <div class="field">
                        <label>Department *</label>
                        <select (ngModel)="newUser.department" name="department" value="DART" class="ui fluid dropdown"
                            id="">
                            <option value="DART">DART</option>
                            <option value="SAP">SAP</option>
                            <option value="Transport">Transport</option>
                        </select>
                    </div>
                </div>
                <div class="btn_wrap">
                    <button class="ui brown  basic button " id="sec_btn">
                        <i class="icon angle left"></i>
                        Back to Login</button>
                    <button type="submit" class="ui secondary  button action_btn">
                        Register
                        <i class="icon angle right"></i>
                    </button>
                </div>
            </form>
        </div>
        <div class="footer_wrap">
            <h4>
                Developed by <span> Innovation Team, Solar Industries Nagpur. </span>
            </h4>
            <p>
                The site is protected by recapchta and Google. Terms of Service and privacy policy apply.
            </p>
        </div>
    </div>
</div>