<nav>
    <app-navbar></app-navbar>
</nav>
<main>
    <nav class="sidebar">
        <!-- <app-sidebar></app-sidebar> -->
    </nav>
    <div class="form_wrapper">
        <div>
            <!-- <app-legal-docs-form></app-legal-docs-form> -->
        </div>
    </div>
</main>