<app-stepper [sectionSelected]="activeSection"></app-stepper>
<div class="ui big form">
    <div class="form_section1" *ngIf="activeSection===1">

        <div class="three fields">
            <div class="field">
                <label>Document Code</label>
                <input type="text" placeholder="Document Code">
            </div>
            <div class="field">
                <label>Name of Requester</label>
                <input type="text" placeholder="Name of requester">
            </div>
            <div class="field">
                <label>Name of Party</label>
                <input type="text" placeholder="Name of Party">
            </div>
        </div>
        <div class="three fields">
            <div class="field">
                <label>Category</label>
                <select class="ui fluid dropdown">
                    <option value="">State</option>
                    <option value="AR">Arkansas</option>
                    <option value="CA">California</option>
                    <option value="CO">Colorado</option>
                    <option value="CT">Connecticut</option>
                </select>
            </div>
            <div class="field">
                <label>Priority</label>
                <select class="ui fluid dropdown">
                    <option value="">State</option>
                    <option value="AR">Arkansas</option>
                    <option value="CA">California</option>
                    <option value="CO">Colorado</option>
                    <option value="CT">Connecticut</option>
                </select>
            </div>
            <div class="field">
                <label>Complexity</label>
                <select class="ui fluid dropdown">
                    <option value="">State</option>
                    <option value="AR">Arkansas</option>
                    <option value="CA">California</option>
                    <option value="CO">Colorado</option>
                    <option value="CT">Connecticut</option>
                </select>
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label>Requested Date</label>
                <input type="date" placeholder="Requested Date">
            </div>
            <div class="field">
                <label>Required Date</label>
                <input type="date" placeholder="Document Code">
            </div>
        </div>

    </div>
    <div class="form_section2" *ngIf="activeSection===2">

        <div class="two fields">
            <div class="field">
                <label>Document Start datee</label>
                <input type="date" placeholder="Start Date">
            </div>
            <div class="field">
                <label>Document End Date</label>
                <input type="date" placeholder="End Date Code">
            </div>
        </div>
        <div class="inline fields">
            <label>Recurring Date</label>
            <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" name="frequency" checked="checked">
                    <label>Yes </label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" name="frequency">
                    <label>NO</label>
                </div>
            </div>

        </div>
        <div class="field">
            <div class="ui left icon input">
                <input type="file" placeholder="Upload a file">
                <i class="folder icon"></i>
            </div>
        </div>
        <div class="field">
            <label>Remarks</label>
            <textarea rows="2"></textarea>
        </div>
    </div>
    <button class="ui primary active button right floated " (click)="onButtonClick()">
        Next
        <i class="arrow right icon"></i>
    </button>
</div>