.vertical.menu {
    width: 60px;
    background-color: #c5141a;
}
i {
    color: white;
}

.menu-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.menu-icon {
    padding: 3rem 0;
}