<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link thumb" (click)="toggleMenu()">
            <i class="fa fa-bars"></i>
        </a>
        <a class="nav-link brand">
            <img src="assets/logo.png" />
            <span>Solar Industries India Limited</span>
        </a>
    </li>

    <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/transporter','dashboard']">
            <i class="fa fa-desktop"></i>
            <span>DashBoard</span>
        </a>>
    </li>

    <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/transporter','transporterApproval']">
            <i class="fa fa-desktop"></i>
            <span>Transporter Invoice</span>
        </a>
    </li>
    <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/transporter','transporter-van-master']">
            <i class="fa fa-bus" aria-hidden="true"></i>
            <span>Van Master </span>
        </a>
    </li>
    <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/transporter','transporter-rate-sheet']">
            <i class="fa fa-history" aria-hidden="true"></i>
            <span>Rate Sheet</span>
        </a>
    </li>

    <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/transporter','transporterList']">
            <i class="fa fa-tasks" aria-hidden="true"></i>
            <span>My Tasks</span>
        </a>
    </li>
    <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/transporter','detention']">
            <i class="fa fa-desktop"></i>
            <span>Detention</span>
        </a>
    </li>
    <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/transporter','approval1']">
            <i class="fa fa-desktop"></i>
            <span>Rate Approval</span>
        </a>
    </li>
    <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/transporter' , 'approval1-list']">
            <i class="fa fa-desktop"></i>
            <span>My Tasks</span>
        </a>
    </li>
    <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/transporter' , 'transporterInvoice', 'approval1']">
            <i class="fa fa-desktop"></i>
            <span>My Tasks</span>
        </a>
    </li>

    <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/transporter' , 'transporterInvoice', 'approval3']">
            <i class="fa fa-desktop"></i>
            <span>My Tasks</span>
        </a>
    </li>

    <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/transporter', 'approval3-list']">
            <i class="fa fa-desktop"></i>
            <span>My Tasks</span>
        </a>
    </li>


    <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/transporter','approval2-list']">
            <i class="fa fa-desktop"></i>
            <span>My Tasks</span>
        </a>
    </li>

    <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/transporter','accounts']">
            <i class="fa fa-desktop"></i>
            <span>My Tasks</span>
        </a>
    </li>
    <li class="nav-item collapse-btn ">
        <a class="nav-link " (click)="toggleMenu() ">
            <i class="fa fa-arrow" [class.fa-angle-double-left]="toggle" [class.fa-angle-double-right]="!toggle"></i>
            <span>Collapse</span>
        </a>
    </li>

</ul>