.circular {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 178px;
  right: -28px;
  background-color: white;
  border: 8px solid #f5f5f5;
  &:focus {
    background-color: white !important;
  }
}
span a {
    color: rgb(218, 94, 45);
    font-weight: 600;
    text-decoration: underline
}
p {
  font-weight: 600;
}
#disabledEmail {
  margin-bottom: 14px;
}