/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr.css';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 0;
}
.page {
  height: 100vh;
  width: 100vw;
}

//   #c91e24
.page_login {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

.container_form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: clamp(360px 50% 580px);
  background-color: white;
  border-radius: 32px;
  padding: 1rem 1rem;
  // text-align: center;
  position: relative;
  min-height: 400px;

  .form_wrap {
    width: 80%;
    margin-top: 14px;
    margin-bottom: 10px;
  }

  .header_wrap,
  .footer_wrap {
    text-align: center;
  }

  .header_wrap,
  i,
  span {
    color: #c5141a;
  }
}

.logo_wrap {
  img {
    width: 356px;
  }

  i {
    size: 48px;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
p {
  color: #443030;
}
.footer_wrap {
  margin-top: 12px;
  h4,
  p {
    line-height: 0.9;
  }
}

.ui.active.centered.inline.loader {
  &::before{
    
    border-color:  #ca464a !important  ;
  }
&::after {
  border-color: #920000 transparent transparent;
}
}
#toast-container > div {
  opacity:1;
}

@import "~@ng-select/ng-select/themes/default.theme.css";
:root {
  --theame-red: #a31b18;
  --theame-red-dark: #801d1a;
  --black-shade-dark: #283648;
  --light-weight: #f4f4f4;
}

@font-face {
  font-family: "Trebuchet MS";
  font-style: normal;
  font-weight: normal;
  src: local("Trebuchet MS"), url("./assets/fonts/trebuc.woff") format("woff");
}
* {
  font-size: 14px;
}

body {
  font-family: "Trebuchet MS";
  background: #f5f5f5;
}

* {
  font-size: 14px;
}
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
*::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: var(--theame-red-dark);
  -webkit-box-shadow: inset 0 0 6px var(--theame-red);
}
*::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.data-table {
  border: none;
}
.data-table table {
  width: 100% !important;
}
.data-table table th, .data-table table td {
  white-space: nowrap;
}

.width-150px {
  width: 150px;
}

.margin-top {
  margin-top: 15px;
}

.margin-top-25 {
  margin-top: 25px;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

.margin-bottom-50 {
  margin-bottom: 25px;
}

.bold {
  font-weight: bold;
}

.dataTables_empty {
  display: none;
}

app-list,
app-overview,
app-authority-four-dashboard,
app-authority-three-dashboardrd,
app-authority-two-dashboard,
app-authority-one-dashboard,
app-initiator-dashboard,
app-reviewer-dashboard,
app-reviewer-dashboard,
app-approver-dashboard,
app-gstteam-dashboard,
app-sapteam-dashboard,
app-accountsteam-dashboard,
app-superadmin-dashboard,
app-vendor-dashboard,
app-auditor-dashboard,
app-creator-dashboard,
app-director-dashboard,
app-block-initiator-dashboard,
app-block-team-dashboard,
app-block-sr-manager-dashboard,
app-block-accounts-dashboard,
app-apa-initiator-dashboard,
app-apa-manager-dashboard,
app-apa-accounts1-dashboard,
app-apa-accounts2-dashboard,
app-migomiroanbteams-dashboard,
app-migomiroapprover1-dashboard,
app-migomiroapprover2-dashboard,
app-migomiroenggteams-dashboard,
app-migomiroinitiator-dashboard,
app-migomirormpmteams-dashboard,
app-send-request,
app-requisition,
app-tenderlist,
app-send-quotation,
app-comparison,
app-comparisondetails,
app-user-requisition,
app-user-comparisondetails,
app-user-comparison,
app-user-send-request,
app-vendorregistration,
app-gststatus,
app-sapstatus,
app-accountsstatus,
app-vendordetails,
app-vendorsaccountsdetails,
app-vendorsgstdetails,
app-vendorssapdetails,
app-reports,
app-negotiation-vendor-screen,
app-negotiation-screen,
app-close-quotations,
app-reconsider,
app-negotiation-screen-details,
app-negotiation-vendor-screen-details,
app-negotiation-single-screen,
app-submitted-quotation-details,
app-byprocurement,
app-postcomparsion,
app-postbyprocurement,
app-approvedquotations,
app-submitted-rfq,
app-task-screen,
app-tasks,
app-user-management,
app-reviewed-quotations,
app-under-review,
app-sapteam-list,
app-sapteam-add,
app-sapteam-edit,
app-reviewer-list,
app-reviewer-add,
app-reviewer-edit,
app-permanent-vendors-list,
app-permanent-vendors-add,
app-permanent-vendors-edit,
app-guest-vendors-list,
app-guest-vendors-add,
app-guest-vendors-edit,
app-gstteam-list,
app-gstteam-add,
app-gstteam-edit,
app-creator-list,
app-creator-edit,
app-creator-add,
app-approver-list,
app-approver-add,
app-approver-edit,
app-accountsteam-list,
app-accountsteam-add,
app-accountsteam-edit,
app-initiator-list,
app-initiator-details,
app-authoriser-one-list,
app-authoriser-one-details,
app-authoriser-two-list,
app-authoriser-two-details,
app-authoriser-three-list,
app-authoriser-three-details,
app-authoriser-four-list,
app-authoriser-four-details,
app-director-list,
app-director-details,
app-auditor-list,
app-auditor-details,
app-payments-approval-form,
app-submitted-rfq,
app-me5a-list,
app-me5a-details,
app-edit,
app-sr-manager-list,
app-sr-manager-details,
app-teams-list,
app-teams-details,
app-accounts-list,
app-accounts-details,
app-block-clearance-form,
app-authorizer-two-details,
app-authorizer-one-details,
app-advance-three-list,
app-authorizer-three-form,
app-initiator-advance-list,
app-initiator-advance-details,
app-authorizer-one-form,
app-team,
app-initiator-migo-miro,
app-approver2,
app-approver2-details,
app-approver1,
app-approver1-data,
app-approver2-data,
app-approver1-details,
app-apaaccounts1-list,
app-apaaccounts2-list,
app-apainitiator-list,
app-apamanager-list,
app-assistantmanager-list,
app-auditor-list,
app-blockauditor-list,
app-blockinitiator-list,
app-blocksrmanager-list,
app-blockteam-list,
app-dgm-list,
app-accountant-list,
app-director-list,
app-groupcontroller-list,
app-migomiroanb-list,
app-migomiroapprover1-list,
app-migomiroapprover2-list,
app-migomiroengg-list,
app-migomiroinitiator-list,
app-migomirormpm-list,
app-seniormanager-list,
app-initiator-approval,
app-initiatior-list,
app-transporter-dashboard,
app-transport-approval-two-form,
app-transport-approval-one-form,
app-transport-approval-three-form,
app-transport-approval-one-details,
app-transport-approval-two-details,
app-transport-approval-three-details,
app-transport-approval-one-list,
app-transport-approval-two-list,
app-transport-approval-three-list,
app-transport-approval-one-invoice,
app-transport-approval-three-invoice,
app-transport-approval-one-invoice-details,
app-transport-approval-three-invoice-details,
app-accountant-details,
app-accountant-list,
app-dashboard,
app-detention-charges,
app-detention,
app-initiator-rate-list,
app-initiator-rate-sheet,
app-view {
  width: 100%;
}

.bg-white {
  background: #fff;
}

.btn-submit {
  background: #454444;
  padding-left: 18px;
  padding-right: 18px;
  margin-right: 20px;
  text-transform: uppercase;
  color: #fff !important;
  border: none;
  box-shadow: 0 0 0 0.2rem rgba(69, 68, 68, 0.2);
}
.btn-submit i {
  margin-right: 10px;
}

.side-bar {
  transition: width 0.3s, left 0.3s;
  position: fixed;
  z-index: 600;
  width: 250px;
  top: 0px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  box-shadow: inset -1px 0 0 #e5e5e5;
  transform: translate3d(0, 0, 0);
}
.side-bar ul.nav li.nav-item.active a.nav-link {
  color: #a31b18;
  background: #a31b18;
}
.side-bar ul.nav li.nav-item.active,
.side-bar ul.nav li.nav-item.show {
  background: rgba(0, 0, 0, 0.04);
}
.side-bar ul.nav li.nav-item.active .dropdown-menu.show,
.side-bar ul.nav li.nav-item.show .dropdown-menu.show {
  position: unset !important;
  transform: unset !important;
  width: 100%;
  border-radius: 0;
  border: none;
  margin-left: 4px;
  background: transparent;
  padding: 0px;
}
.side-bar ul.nav li.nav-item.active .dropdown-menu.show a.dropdown-item:hover,
.side-bar ul.nav li.nav-item.show .dropdown-menu.show a.dropdown-item:hover {
  color: white;
  background: #a31b18;
}
.side-bar ul.nav li.nav-item.active a.nav-link,
.side-bar ul.nav li.nav-item.show a.nav-link {
  color: #ffffff;
  font-weight: 400;
  background-color: #a31b18;
}
.side-bar ul.nav li.nav-item .dropdown-menu a.dropdown-item {
  background-color: #ffffff;
  padding: 10px 10px 10px 40px;
  font-size: 14px;
  font-weight: 600;
}
.side-bar ul.nav li.nav-item a.dropdown-toggle {
  cursor: pointer;
}
.side-bar ul.nav li.nav-item a.dropdown-toggle::after {
  float: right;
  margin-top: 10px;
}
.side-bar ul.nav li.nav-item a.nav-link:hover {
  color: white;
  background: #a31b18;
}
.side-bar ul.nav li.nav-item a.nav-link {
  color: #2d323e;
  padding: 1rem;
}
.side-bar ul.nav li.nav-item a.nav-link span {
  font-weight: 600;
  margin-left: 10px;
}
.side-bar ul.nav li.nav-item a.nav-link.thumb {
  display: none;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.side-bar ul.nav li.nav-item a.nav-link.brand {
  padding: 0;
  border-bottom: 1px solid #e5e5e5;
  background: #fff;
  border-right: 1px solid #e5e5e5;
  display: flex;
}
.side-bar ul.nav li.nav-item a.nav-link.brand span {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  display: inline-block;
  float: left;
  margin: 10px 20px 0 0;
}
.side-bar ul.nav li.nav-item a.nav-link.brand img {
  width: 130px;
  padding: 5px;
  border-radius: 5px;
  float: left;
}
.side-bar ul.nav li.nav-item.collapse-btn {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.side-bar ul.nav li.nav-item.collapse-btn a.nav-link {
  cursor: pointer;
  border-top: 1px solid #e5e5e5;
}

.side-bar.only-icon {
  width: 60px;
  background: #fff;
}
.side-bar.only-icon ul.nav li.nav-item:hover a.nav-link {
  color: #fff;
  background: #a31b18;
}
.side-bar.only-icon ul.nav li.nav-item:hover a.nav-link span {
  display: inline;
}
.side-bar.only-icon ul.nav li.nav-item a.nav-link {
  width: 50px;
  text-align: center;
  color: #454444;
  margin: 5px;
  border-radius: 5px;
}
.side-bar.only-icon ul.nav li.nav-item a.nav-link span {
  text-align: left;
  display: none;
  left: 50px;
  color: #ffffff;
  background: #a31b18;
  padding: 10px;
  position: absolute;
  width: 216px;
  font-weight: 700;
  border: 2px solid #ffffff;
  margin-top: -14px;
}
.side-bar.only-icon ul.nav li.nav-item a.dropdown-toggle::after {
  display: none;
}
.side-bar.only-icon ul.nav li.nav-item a.nav-link.thumb {
  height: 57px;
  display: block;
  padding-top: 10px;
  font-size: 20px;
  border: none;
}
.side-bar.only-icon ul.nav li.nav-item a.nav-link.brand:hover,
.side-bar.only-icon ul.nav li.nav-item a.nav-link.brand {
  display: none;
}
.side-bar.only-icon ul.nav li.nav-item a.nav-link.brand:hover span,
.side-bar.only-icon ul.nav li.nav-item a.nav-link.brand span {
  display: none !important;
}
.side-bar.only-icon ul.nav li.nav-item a.nav-link.brand:hover img,
.side-bar.only-icon ul.nav li.nav-item a.nav-link.brand img {
  margin: 13px 4px;
  background: #fff;
  padding: 0;
  width: 42px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
  border-radius: 0;
}
.side-bar.only-icon ul.nav li.nav-item.active a.nav-link {
  color: #fff;
  background: #a31b18;
}
.side-bar.only-icon ul.nav li.nav-item:hover .dropdown-menu,
.side-bar.only-icon ul.nav li.nav-item:hover .dropdown-menu.show,
.side-bar.only-icon ul.nav li.nav-item.show .dropdown-menu,
.side-bar.only-icon ul.nav li.nav-item.show .dropdown-menu.show {
  display: block;
  position: absolute !important;
  background: #fff;
  left: 51px !important;
  margin: 0;
  top: unset !important;
  width: 214px;
  border: none;
  border-radius: 0;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  padding: 0;
  margin-top: 2px;
}
.side-bar.only-icon ul.nav li.nav-item:hover .dropdown-menu a.dropdown-item:hover,
.side-bar.only-icon ul.nav li.nav-item:hover .dropdown-menu.show a.dropdown-item:hover,
.side-bar.only-icon ul.nav li.nav-item.show .dropdown-menu a.dropdown-item:hover,
.side-bar.only-icon ul.nav li.nav-item.show .dropdown-menu.show a.dropdown-item:hover {
  color: #a31b18;
  background: rgba(0, 0, 0, 0.04);
}
.side-bar.only-icon ul.nav li.nav-item:hover .dropdown-menu a.dropdown-item,
.side-bar.only-icon ul.nav li.nav-item.show .dropdown-menu a.dropdown-item {
  padding: 10px;
}
.side-bar.only-icon ul.nav li.nav-item:hover a.nav-link span,
.side-bar.only-icon ul.nav li.nav-item.show a.nav-link span {
  display: inline;
}
.side-bar.only-icon ul.nav li.nav-item.collapse-btn a.nav-link {
  font-size: 18px;
}
.side-bar.only-icon ul.nav li.nav-item.collapse-btn a.nav-link span {
  display: none;
}

.view-layout {
  padding-left: 266px;
  transition: padding-left 0.3s;
}

.view-layout.push-in {
  padding-left: 66px;
}

.login-page {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: #f5f5f5;
}
.login-page .box {
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  margin-top: 7vh;
  padding-right: 35px;
}
.login-page .box .head img {
  margin: 0px auto;
  width: 275px;
  display: block;
}
.login-page .box .head h1 {
  font-size: 20px;
  margin: 8px 0px;
  text-transform: uppercase;
  font-weight: 700;
  color: #a31b18;
}
.login-page .box .head p {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #2d323e;
}
.login-page .box .alert-text {
  text-transform: capitalize;
  font-weight: 500;
  color: #a31b18 !important;
}
.login-page .box .input-group label.title {
  margin: 0;
  padding: 5px 15px;
  font-weight: 500;
  font-size: 16px;
  min-width: 130px;
  text-align: left;
  color: #a31b18;
}
.login-page .box .input-group label.title span {
  float: right;
}
.login-page .box .input-group .credit {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #a31b18;
  margin-top: -20px;
}
.login-page .box .input-group .credit span {
  color: #212529;
  font-size: 18px;
  font-weight: 700;
}
.login-page .box .input-group input:focus,
.login-page .box .input-group input:active,
.login-page .box .input-group select:focus,
.login-page .box .input-group select:active,
.login-page .box .input-group select,
.login-page .box .input-group input {
  box-shadow: none;
  border: none;
  border-radius: 0;
  font-size: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.login-page .box .input-group input:focus::-ms-expand,
.login-page .box .input-group input:active::-ms-expand,
.login-page .box .input-group select:focus::-ms-expand,
.login-page .box .input-group select:active::-ms-expand,
.login-page .box .input-group select::-ms-expand,
.login-page .box .input-group input::-ms-expand {
  display: none;
}
.login-page .box .input-group .input-group-prepend {
  position: absolute;
  right: -45px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  overflow: hidden;
  margin-top: -50px;
  border: 5px solid #f5f5f5;
  border-left: 5px solid #a31b18;
  background: #fff;
  z-index: 32;
  transition: all 0.5s;
  cursor: pointer;
}
.login-page .box .input-group .input-group-prepend.rotate, .login-page .box .input-group .input-group-prepend:hover {
  transform: rotate(180deg);
}
.login-page .box .input-group .input-group-prepend span.input-group-text {
  border: none;
  background: transparent;
  border-radius: 100%;
  width: 100%;
  height: 100%;
  text-align: center;
  display: block;
  padding-top: 8px;
  font-size: 22px;
  color: #a31b18;
}
.login-page .box .input-group .cust-checkbox {
  margin: 10px;
}
.login-page .box .input-group .cust-checkbox label {
  display: block;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 500;
}
.login-page .box .input-group .cust-checkbox label::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  box-shadow: 0 0 0 2px rgba(45, 50, 62, 0.3);
  margin: 5px;
  float: left;
  margin-right: 10px;
}
.login-page .box .input-group .cust-checkbox input[type=checkbox]:checked + label::before,
.login-page .box .input-group .cust-checkbox input[type=radio]:checked + label::before {
  background: #2d323e;
}
.login-page .box .input-group .cust-checkbox input {
  display: none;
}
.login-page .box .input-group .cust-checkbox a {
  font-weight: 500;
  text-align: end;
  display: block;
  cursor: pointer;
}

form.standard .table thead tr th {
  font-size: 12px;
  padding: 8px;
  text-transform: capitalize;
  color: #a31b18;
}
form.standard .table tbody tr td .form-group {
  margin-bottom: 0;
}
form.standard .disable .form-group ng-select .ng-select-container, form.standard.preview .form-group ng-select .ng-select-container {
  border: none;
  background: transparent;
}
form.standard .disable .form-group input:hover,
form.standard .disable .form-group input:focus,
form.standard .disable .form-group input:active,
form.standard .disable .form-group input, form.standard.preview .form-group input:hover,
form.standard.preview .form-group input:focus,
form.standard.preview .form-group input:active,
form.standard.preview .form-group input {
  border: none !important;
  background: transparent;
  font-weight: 500;
  cursor: text;
}
form.standard .form-row .client-detail {
  border: none;
  background: #fafafa;
  border-radius: 0;
  box-shadow: none;
  min-height: unset;
  margin-bottom: 10px;
  padding: 15px;
}
form.standard .form-row .client-detail .inline-lable span {
  min-width: 80px;
  display: inline-block;
  text-transform: capitalize;
  font-weight: 500;
}
form.standard .form-row.small-popup {
  position: fixed;
  background: #fff;
  display: block;
  z-index: 24;
  width: 400px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 20px;
  top: 20%;
  left: calc(50% - 200px);
}
form.standard .form-row.small-popup .form-group {
  flex: 0 0 100%;
  max-width: 100%;
}
form.standard .form-row .form-group label {
  font-size: 12px;
  font-weight: 500;
  text-transform: capitalize;
}
form.standard .form-row .form-group .ng-select .ng-arrow-wrapper {
  display: none;
}
form.standard .form-row .form-group .ng-select-container,
form.standard .form-row .form-group .form-control,
form.standard .form-row .form-group .form-control:focus,
form.standard .form-row .form-group .form-control:active,
form.standard .form-row .form-group .form-control:hover {
  background-size: 12px;
  border-radius: 0;
  border: 0;
  border-bottom: 1px dashed #454444;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
form.standard .form-row .form-group .ng-select-container::-ms-expand,
form.standard .form-row .form-group .form-control::-ms-expand,
form.standard .form-row .form-group .form-control:focus::-ms-expand,
form.standard .form-row .form-group .form-control:active::-ms-expand,
form.standard .form-row .form-group .form-control:hover::-ms-expand {
  display: none;
}

.modal .modal-content .modal-header {
  background-color: #232222;
}
.modal .modal-content .modal-header h4.modal-title {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
}

.page .top-nav {
  background: #fff;
  padding: 7px;
  border-bottom: 1px solid #e5e5e5;
}
.page .top-nav .left nav .breadcrumb {
  margin: 0;
  border-radius: 30px;
  background: #e9ecef;
}
.page .top-nav .left nav .breadcrumb .breadcrumb-item {
  font-size: 16px;
  font-weight: 800;
  color: #454444;
  text-transform: capitalize;
  margin: 0 auto;
}
.page .top-nav .left nav .breadcrumb .breadcrumb-item.active {
  font-size: 12px;
  color: #a31b18;
}
.page .top-nav .right nav .nav-link.dp {
  padding: 0;
  margin-top: 3px;
}
.page .top-nav .right nav .nav-link.dp button.btn {
  min-width: 150px;
  text-align: center;
  border-radius: 15px;
  padding-right: 15px;
  padding-left: 15px;
  background: #a31b18;
  border: none;
  box-shadow: none;
  color: #e9ecef;
  font-weight: 600;
}
.page .top-nav .right nav .nav-link.dp .dropdown-menu .dropdown-item {
  cursor: pointer;
}
.page .top-nav .right nav .nav-link.dp .dropdown-menu .dropdown-item i.fa {
  margin-right: 15px;
}
.page .top-nav .right nav .nav-link.clock span {
  font-size: 16px;
  font-weight: 600;
}
.page .top-nav .right nav .nav-link.clock span.date {
  text-transform: uppercase;
  margin-right: 10px;
  color: #2d323e;
}
.page .top-nav .right nav .nav-link.clock span.time {
  color: #a31b18;
}
.page .content .page-header {
  margin-bottom: -98px;
  margin-top: 20px;
}
.page .content .page-header nav {
  background: var(--theame-red);
  padding: 15px;
  min-height: 150px;
  padding: 5px 15px;
}
.page .content .page-header nav .breadcrumb {
  border-radius: 0;
  background: transparent;
  margin: 0;
}
.page .content .page-header nav .breadcrumb .breadcrumb-item a {
  color: #fff;
}
.page .content .page-header nav .action {
  padding-top: 4px;
}
.page .content .page-header nav .action .btn {
  color: #fff;
  cursor: pointer;
  font-size: 14px;
}
.page .content .page-header nav .action .cust-menu {
  position: relative;
}
.page .content .page-header nav .action .cust-menu .dropdown-menu {
  top: 28px !important;
  margin-left: -12rem;
}
.page .content .page-header nav .action .cust-menu .dropdown-menu li label {
  margin: 0;
  cursor: pointer;
}
.page .content .page-header nav .action .cust-menu .dropdown-menu li label input {
  margin: 0 10px;
}
.page .content .page-header nav .action .cust-menu .btn {
  color: #fff;
  cursor: pointer;
  font-size: 14px;
}
.page .content.tobs {
  background: #fff;
  min-height: calc(100vh - 80px);
}
.page .content.tobs tabset > .nav {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.page .content.tobs tabset > .nav .nav-item .nav-link {
  padding: 15px;
  border: none;
  color: #454444;
  text-transform: uppercase;
  font-weight: 600;
}
.page .content.tobs tabset > .nav .nav-item .nav-link:hover {
  border-bottom: 3px solid rgba(0, 0, 0, 0.3);
}
.page .content.tobs tabset > .nav .nav-item .nav-link.active {
  text-transform: uppercase;
  font-weight: 600;
  background-color: #a31b18;
  color: #ffff;
  border-bottom: 3px solid rgba(0, 0, 0, 0.3);
}
.page .content.tobs table thead {
  text-transform: uppercase;
  white-space: nowrap;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  text-align: center;
  background: #454444;
}
.page .content.tobs .shift-list {
  height: 40vh;
  overflow-x: auto;
}
.page .content.tobs .shift-list .custom-control.custom-switch {
  display: inline-block;
}
.page .content.tobs .shift-list .action:hover {
  background: rgba(0, 0, 0, 0.2);
}
.page .content.tobs .shift-list .action {
  display: inline-block;
  cursor: pointer;
  font-size: 18px;
  padding: 0 8px;
  border-radius: 5px;
  margin-right: 15px;
}
.page .content.tobs .shift-list .table th {
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  text-align: center;
  background: #454444;
  z-index: 10;
}
.page .content.tobs.content-scroll {
  overflow-y: scroll;
  max-height: calc(100vh - 115px);
}
.page .content.tobs.content-scroll table thead tr th {
  position: sticky;
  top: 0;
  color: white;
  text-align: center;
  background: #454444;
  z-index: 10;
}
.page .content.tobs .product-list {
  height: 45vh;
  overflow-x: auto;
}
.page .content.tobs .product-list h3 {
  font-size: 20px;
  margin: 0;
  padding: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: #a31b18;
  font-weight: 700;
}
.page .content.tobs .product-list .table th {
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  text-align: center;
  background: #454444;
  z-index: 10;
}
.page .content.tobs .process-list {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  height: 40vh;
  flex-direction: row !important;
  overflow-x: auto;
  padding: 15px;
}
.page .content.tobs .process-list .nav-item {
  width: 100%;
}
.page .content.tobs .process-list .nav-item .nav-link {
  padding: 10px;
}
.page .content.tobs .process-list .nav-item .nav-link .custom-control,
.page .content.tobs .process-list .nav-item .nav-link .action,
.page .content.tobs .process-list .nav-item .nav-link .sr {
  display: inline-block;
}
.page .content.tobs .process-list .nav-item .nav-link .sr {
  float: left;
  margin-right: 10px;
  font-weight: 800;
}
.page .content.tobs .process-list .nav-item .nav-link .action:hover {
  background: rgba(0, 0, 0, 0.2);
}
.page .content.tobs .process-list .nav-item .nav-link .action {
  float: right;
  cursor: pointer;
  font-size: 18px;
  padding: 0 8px;
  border-radius: 5px;
}
.page .content.tobs .filter .table-responsive {
  height: calc(75vh - 130px);
}
.page .content.tobs .filter .table-responsive .table {
  border-collapse: separate;
}
.page .content.tobs .filter .table-responsive .table .w-200 {
  min-width: 200px;
}
.page .content.tobs .filter .table-responsive .table th {
  font-weight: 600;
  text-transform: uppercase;
  position: sticky;
  top: 0px;
  color: white;
  text-align: center;
  background: #454444;
  z-index: 10;
}
.page .content.tobs .filter .table-responsive .table .form-row {
  margin-bottom: 10px;
}
.page .content.tobs .filter .table-responsive .table .form-row label {
  font-size: 12px;
}
.page .content.tobs .filter .table-responsive .table .form-row select,
.page .content.tobs .filter .table-responsive .table .form-row select:focus,
.page .content.tobs .filter .table-responsive .table .form-row input,
.page .content.tobs .filter .table-responsive .table .form-row input:focus {
  outline: none;
  box-shadow: none;
  border-radius: 0;
}
.page .content.tobs .filter .table-responsive .table .form-row.head {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 12px 0px;
}
.page .content.tobs .filter .table-responsive .table .form-row.head label {
  font-weight: 600;
  margin: 0;
  text-transform: uppercase;
}
.page .content.tobs .details {
  background: #fff;
  height: 50vh;
  overflow-y: auto;
}
.page .content.tobs .result {
  background: #fff;
}
.page .content.tobs .result .table-responsive {
  height: calc(100vh - 235px);
  margin-bottom: 10px;
}
.page .content.tobs .result .table-responsive table {
  border-collapse: separate;
}
.page .content.tobs .result .table-responsive table thead tr th {
  font-weight: 600;
  text-transform: uppercase;
  position: sticky;
  top: 0px;
  color: white;
  text-align: center;
  background: #454444;
  z-index: 10;
}
.page .content.tobs .result .table-responsive table thead tr + tr th {
  top: 46px;
}
.page .content.orders {
  padding: 0px 15px;
}
.page .content.orders form.standard.ownpage {
  background: #fff;
  padding: 20px;
}
.page .content .in-box {
  padding-right: 30px;
  padding-left: 30px;
}
.page .content .data-table {
  border: none;
  padding: 20px;
}
.page .content .data-table table {
  width: 100% !important;
}
.page .content .data-table table thead tr th {
  color: #ffffff;
  font-weight: 550;
  background-color: #454444;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
}
.page .content .data-table table tbody tr td:first-child {
  color: #212529;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
}
.page .content .data-table table tbody tr td {
  font-size: 14px;
  padding: 10px 5px;
  max-width: 150px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.page .content .data-table .dataTables_length label select {
  padding: 5px 15px;
  margin-bottom: 10px;
  border-color: #9aa0ac;
}
.page .content .data-table .dataTables_paginate {
  margin-top: 15px;
  margin-bottom: 15px;
}
.page .content .data-table .dataTables_paginate .paginate_button {
  color: #495057;
  background-color: #fff;
  border-color: rgba(0, 40, 100, 0.12);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
}
.page .content .data-table .dataTables_paginate .paginate_button:hover, .page .content .data-table .dataTables_paginate .paginate_button.current {
  color: #fff !important;
  background: #a31b18;
  border-color: #a31b18;
}
.page .content .data-table .dataTables_paginate .paginate_button.disabled:hover, .page .content .data-table .dataTables_paginate .paginate_button.disabled {
  color: #495057 !important;
  background-color: #fff;
  border: none;
  box-shadow: none;
}
.page .content .tabset {
  width: 100%;
}
.page .content .tabset .nav-tabs {
  margin: 15px;
  margin-bottom: 0;
  border: none;
}
.page .content .tabset .nav-tabs li a {
  background: #a31b18;
  color: #ffffff;
  font-weight: 500;
  border-radius: 0;
}
.page .content .tabset .nav-tabs li.active a {
  color: #121428;
  border: none;
  background-color: #fff;
  border-top: 4px solid #a31b18;
}

.popover {
  max-width: 100%;
}

.card-header {
  padding: 0.5rem;
  border: none;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 1px;
}

.badge-danger {
  color: #fff;
  background-color: #a31b18;
  padding: 4px;
  align-items: center;
  font-size: 14px;
  text-transform: uppercase;
}

.badge-success {
  color: #fff;
  background-color: #28a745;
  padding: 4px;
  align-items: center;
  font-size: 14px;
  text-transform: uppercase;
}

.badge-warning {
  color: #100f0f;
  background-color: #ffc107;
  padding: 4px;
  align-items: center;
  font-size: 14px;
  text-transform: uppercase;
}

.fa-share-square-o,
fa-info-circle {
  color: #454444;
}

.input-group-prepend-new {
  border-left: 5px solid #a31b18;
  background: #fff;
}
.input-group-prepend-new span.input-group-text {
  display: flex;
  align-items: center;
  padding: 15px;
  padding-top: 8px;
  padding-bottom: 0px;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  background: transparent;
  border: none;
}

.cust-menu {
  position: relative;
}
.cust-menu .dropdown-menu {
  top: 28px !important;
  margin-left: -12rem;
}
.cust-menu .dropdown-menu li label {
  margin: 0;
  cursor: pointer;
}
.cust-menu .dropdown-menu li label input {
  margin: 0 10px;
}

.page-reg .card {
  border-radius: 0;
  border: none;
  min-height: 100vh;
}
.page-reg .card .card-header {
  background: #fff;
  border: none;
}
.page-reg .card .card-header .block-row {
  display: flex;
}
.page-reg .card .card-header .block-row .logo,
.page-reg .card .card-header .block-row .details {
  flex: 1;
}
.page-reg .card .card-header .block-row .logo {
  max-width: 120px;
  padding: 10px;
}
.page-reg .card .card-header .block-row .logo img {
  width: 130%;
}
.page-reg .card .card-header .block-row .details {
  padding-top: 14px;
  padding-left: 10px;
}
.page-reg .card .card-header .block-row .details h3 {
  font-size: 38px;
  color: #971916;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}
.page-reg .card .card-header .block-row .details p {
  text-align: right;
  padding-right: 15px;
  font-weight: 600;
}
.page-reg .card .card-header .nav {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  margin-top: 20px;
  overflow: hidden;
}
.page-reg .card .card-header .nav li.nav-item a.nav-link:first-child {
  padding-left: 30px;
}
.page-reg .card .card-header .nav li.nav-item a.nav-link {
  color: var(--black-shade-dark);
  text-transform: capitalize;
  margin-inline-end: 13px;
  position: relative;
  border-radius: 0;
  padding-right: 20px;
  padding-left: 20px;
  cursor: pointer;
}
.page-reg .card .card-header .nav li.nav-item a.nav-link i.fa {
  margin-right: 10px;
}
.page-reg .card .card-header .nav li.nav-item a.nav-link:after {
  content: "";
  position: absolute;
  height: 26px;
  width: 26px;
  display: block;
  transform: rotate(45deg);
  right: -12px;
  top: 4px;
  border-right: 1px solid rgba(0, 0, 0, 0.125);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  z-index: 4;
}
.page-reg .card .card-header .nav li.nav-item a.nav-link.invalid {
  cursor: no-drop;
}
.page-reg .card .card-header .nav li.nav-item a.nav-link:hover {
  color: #fff;
  background-color: var(--theame-red-dark);
}
.page-reg .card .card-header .nav li.nav-item a.nav-link:hover:after {
  background-color: var(--theame-red-dark);
  border: none;
}
.page-reg .card .card-header .nav li.nav-item a.nav-link:hover:before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  display: block;
  left: 0px;
  top: 0px;
  border-left: 17px solid #fff;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  z-index: 1;
}
.page-reg .card .card-header .nav li.nav-item a.nav-link.active {
  background-color: var(--theame-red);
  color: #fff;
  font-weight: 600;
}
.page-reg .card .card-header .nav li.nav-item a.nav-link.active:after {
  background-color: var(--theame-red);
  border: none;
}
.page-reg .card .card-header .nav li.nav-item a.nav-link.active:before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  display: block;
  left: 0px;
  top: 0px;
  border-left: 17px solid #fff;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  z-index: 1;
}
.page-reg .card .card-header .nav li.nav-item + li.nav-item a.nav-link {
  margin-inline-start: -13px;
  padding-left: 32px;
  font-weight: 600;
}
.page-reg .card-body form .haed-title span {
  padding-left: 12px;
  font-size: 20px;
  font-weight: 500;
}
.page-reg .card-body form .gradient {
  padding: 5px;
  margin-bottom: 20px;
  background: linear-gradient(90deg, #a31b18 11%, white 100%);
  color: white;
}
.page-reg .card-body form .card-footer {
  display: flex;
  color: #454444;
  background: white;
  width: 1280px;
}
.page-reg .card-body form .card-footer .credits {
  padding: 5px;
  font-size: 14px;
  font-stretch: expanded;
  font-weight: 600;
  text-transform: uppercase;
}
.page-reg .card-body form .card-footer .action .btn {
  background: #454444;
  padding-left: 18px;
  padding-right: 18px;
  margin-right: 20px;
  font-weight: 600;
  color: #fff !important;
  border: none;
  box-shadow: 0 0 0 0.2rem white;
}
.page-reg .card-body form .card-footer .credits,
.page-reg .card-body form .card-footer .action {
  flex: 1;
  white-space: nowrap;
}
.page-reg .card-body form .field label {
  margin: 0;
  padding-left: 10px;
  font-size: 14px;
  color: #454444;
  font-weight: 600;
  text-transform: uppercase;
}
.page-reg .card-body form .field .custom-file {
  margin-top: 14px;
  height: 150px;
}
.page-reg .card-body form .field .custom-file label {
  border-radius: 0;
  height: 120px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 30p;
  border-style: dashed;
  border-width: 2px;
  text-align: center;
  font-size: 16px;
  text-transform: capitalize;
  line-height: 28px;
  color: #564e4e;
}
.page-reg .card-body form .field .custom-file label:after {
  top: unset;
  right: calc(50% - 35px);
  bottom: 10px;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
  box-shadow: 0 0 0 0.2rem #564e4e;
}
.page-reg .card-body form .field .custom-file input[type=file]:valid, .page-reg .card-body form .field .custom-file input[type=file]:invalid {
  border: none;
  border-radius: 0;
  outline: none;
  box-shadow: none;
}
.page-reg .card-body form .field textarea.form-control:active,
.page-reg .card-body form .field textarea.form-control:hover,
.page-reg .card-body form .field textarea.form-control:focus,
.page-reg .card-body form .field textarea.form-control,
.page-reg .card-body form .field select.form-control:active,
.page-reg .card-body form .field select.form-control:hover,
.page-reg .card-body form .field select.form-control:focus,
.page-reg .card-body form .field select.form-control,
.page-reg .card-body form .field input[type=file].form-control:active,
.page-reg .card-body form .field input[type=file].form-control:hover,
.page-reg .card-body form .field input[type=file].form-control:focus,
.page-reg .card-body form .field input[type=file].form-control,
.page-reg .card-body form .field input[type=text].form-control:active,
.page-reg .card-body form .field input[type=text].form-control:hover,
.page-reg .card-body form .field input[type=text].form-control:focus,
.page-reg .card-body form .field input[type=text].form-control {
  border-radius: 0;
  border: none;
  outline: none;
  resize: none;
  box-shadow: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  color: var(--black-shade-dark);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.page-reg .card-body form .field textarea.form-control:active:valid, .page-reg .card-body form .field textarea.form-control:active:invalid,
.page-reg .card-body form .field textarea.form-control:hover:valid,
.page-reg .card-body form .field textarea.form-control:hover:invalid,
.page-reg .card-body form .field textarea.form-control:focus:valid,
.page-reg .card-body form .field textarea.form-control:focus:invalid,
.page-reg .card-body form .field textarea.form-control:valid,
.page-reg .card-body form .field textarea.form-control:invalid,
.page-reg .card-body form .field select.form-control:active:valid,
.page-reg .card-body form .field select.form-control:active:invalid,
.page-reg .card-body form .field select.form-control:hover:valid,
.page-reg .card-body form .field select.form-control:hover:invalid,
.page-reg .card-body form .field select.form-control:focus:valid,
.page-reg .card-body form .field select.form-control:focus:invalid,
.page-reg .card-body form .field select.form-control:valid,
.page-reg .card-body form .field select.form-control:invalid,
.page-reg .card-body form .field input[type=file].form-control:active:valid,
.page-reg .card-body form .field input[type=file].form-control:active:invalid,
.page-reg .card-body form .field input[type=file].form-control:hover:valid,
.page-reg .card-body form .field input[type=file].form-control:hover:invalid,
.page-reg .card-body form .field input[type=file].form-control:focus:valid,
.page-reg .card-body form .field input[type=file].form-control:focus:invalid,
.page-reg .card-body form .field input[type=file].form-control:valid,
.page-reg .card-body form .field input[type=file].form-control:invalid,
.page-reg .card-body form .field input[type=text].form-control:active:valid,
.page-reg .card-body form .field input[type=text].form-control:active:invalid,
.page-reg .card-body form .field input[type=text].form-control:hover:valid,
.page-reg .card-body form .field input[type=text].form-control:hover:invalid,
.page-reg .card-body form .field input[type=text].form-control:focus:valid,
.page-reg .card-body form .field input[type=text].form-control:focus:invalid,
.page-reg .card-body form .field input[type=text].form-control:valid,
.page-reg .card-body form .field input[type=text].form-control:invalid {
  background-size: 12px;
}
.page-reg .card-body form .field span.line {
  width: 0%;
  display: block;
  transition: width 0.6s;
}
.page-reg .card-body form .field textarea.form-control:focus,
.page-reg .card-body form .field select.form-control:focus,
.page-reg .card-body form .field input[type=text].form-control:focus {
  border: none;
}
.page-reg .card-body form .field textarea.form-control:focus:valid + span.line,
.page-reg .card-body form .field select.form-control:focus:valid + span.line,
.page-reg .card-body form .field input[type=text].form-control:focus:valid + span.line {
  width: 100%;
  border-bottom: 2px solid #35ad51;
}
.page-reg .card-body form .field textarea.form-control:focus:invalid + span.line,
.page-reg .card-body form .field select.form-control:focus:invalid + span.line,
.page-reg .card-body form .field input[type=text].form-control:focus:invalid + span.line {
  width: 100%;
  border-bottom: 2px solid var(--theame-red);
}
.page-reg .card-body form .field .check-boxes {
  padding: 10px 20px;
}
.page-reg .card-body form .field .check-boxes .custom-control.custom-checkbox .custom-control-label {
  text-transform: capitalize;
  font-size: 14px;
  color: var(--black-shade-dark);
}

.header-title {
  text-transform: uppercase;
  margin-top: 5px;
  padding: 5px;
  color: #a31b18;
  margin-bottom: -5px;
  font-weight: 600;
  text-align: center;
  background: white;
  font-size: 25px;
}
.header-title span {
  color: #454444;
  font-size: 16px;
}

.logo {
  color: #212529;
}

.break-spaces {
  white-space: break-spaces;
}

.mandatory {
  color: red !important;
}

.title-color {
  color: #A31B18 !important;
  font-weight: 600;
  display: flex;
  justify-content: center;
}

.back-button {
  color: #A31B18 !important;
  font-size: 17px !important;
  font-weight: 600;
  margin-right: 30px;
  margin-bottom: -50px;
  border: none;
  outline-color: #A31B18;
  background-color: transparent;
  z-index: 10;
}

.back-button-position {
  display: flex;
  justify-content: flex-end;
}

.p-datatable-thead {
  color: red !important;
}

.ui-datatable .ui-datatable-thead > tr > th {
  background: red;
}

.p {
  font-weight: bold;
}

.td-cell {
  font-weight: bold;
  width: 150px;
  text-align: center;
}

.error {
  color: red;
  font-weight: 600;
  font-size: 12px;
}

.cell-fonts {
  font-weight: bold;
  text-align: center;
}

