<div class="row">
    <div class="col-lg-4 left">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Transporter Approval</li>
            </ol>
        </nav>
    </div>
    <div class="col-lg-8 right">
        <nav class="nav justify-content-end">
            <a class="nav-link clock">
                <span class="date">{{ time | date: 'dd MMM, yyyy' }}</span>
                <span class="time">{{ time | date: 'hh:mm:ss a' }}</span>
            </a>
            <div *ngIf="showRoles" style="margin-top : 5px;" class="col-lg-3">
                <!-- <select class="form-control" aria-placeholder="Please Select" name="roles" (change)="roleSwitch()" [(ngModel)]="selectAuthority"> -->
                <select class="form-control" aria-placeholder="Please Select" name="roles"
                    [(ngModel)]="selectAuthority">

                    <option *ngFor="let item of roles" [value]="item">{{ item }}
                    </option>
                </select>
            </div>
            <a class="nav-link dp btn-group dropdown">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <!-- <i class="fa fa-user" style="padding-right: 5px;"></i> {{User.firstname}} {{User.lastname}} -->
                    <i class="fa fa-user" style="padding-right: 5px;"></i> Maulik Pandya
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item"><i class="fa fa-key"></i> Reset Password</a>
                    <!-- <a class="dropdown-item" (click)="resetPass()"><i class="fa fa-key"></i> Reset Password</a> -->
                    <a class="dropdown-item"><i class="fa fa-sign-out"></i> Sign Out</a>
                    <!-- <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i> Sign Out</a> -->
                </div>
            </a>
        </nav>
    </div>
</div>


<!-- <div class="col-lg-3">
                <select class="form-control" name="roles" (change)="roleSwitch()" [(ngModel)]="selectRole">
                    <option *ngFor ="let item of User.authorities" [value]="item.id">{{item.roles.name}}  {{item.plants.name}}
                    </option>
                </select>
            </div> -->