.navbar_wrap {
    width: calc(100vw - 60px);
    margin-left: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.5rem;
    padding: 1rem;
    background-color: #fff1f2;
    box-shadow: 0 2px 2px 0 rgba(139, 139, 139, 0.14), 0 3px 1px -2px rgba(192, 192, 192, 0.12), 0 1px 5px 0 rgba(143, 139, 139, 0.2);
}
.ui.large.button {
    border-radius: 18px;
    min-width: 180px;
}
.right {
    display: flex;
    align-items: center;
    gap: 2rem;
    @media screen and (max-width: 540px) {
        gap: 1rem;
    }
    .time_wrap {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 1rem;
        font-size: large;
        @media screen and (max-width : 540px) {
            font-size: smaller;
            gap: 0.4rem;
        }        
        .time {
            color: #c5141a;
        }
    }
}
#userbutton {
    background-color: #c5141a;
    color: white;
}

.page .top-nav {
    background: #fff;
    padding: 7px;
    border-bottom: 1px solid #e5e5e5;
}
